<div class="card-content">
  <div class="card-img">
    <img
      src="https://images.unsplash.com/photo-1678583536865-befbdf365d9b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
      alt=""
    />
    <span
      ><h4>{{ position }}</h4></span
    >
  </div>
  <div class="card-desc">
    <h3>{{ destino.nombre }}</h3>
    <p>Servicios</p>
    <ul>
      <li *ngFor="let s of destino.servicios">
        <span [ngSwitch]="s">
          <i *ngSwitchCase="'desayuno'" style="color: red">
            {{ s }}
          </i>
          <i *ngSwitchDefault>
            {{ s }}
          </i>
        </span>
      </li>
    </ul>
    <a href="#" class="btn-card" (click)="ir()">Ir!</a>
    <span *ngIf="destino.isSelected()">- PREFERIDO -</span>
  </div>
</div>
